%button-icons {
    content: '';
    display: block;
    width: 33px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    position: absolute;
    top: -7px;
    left: -55px;
}