@import "fonts";
@import "reset";
@import "variables";
@import "mixins";
@import "templates";

// GENERAL
* {
    box-sizing: border-box;
}

// HEADER
.header {
    background-color: $color-03;
}

.header__overlay {
    background-image: url(../img/header-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 54px 0 110px 0;
}

.header__content-frame {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 20px;
}

// Header - Topbox
.header__topbox {
    display: flex;
    align-items: center;
}

// Header - Topbox - Logo
.logo {
    transition: all 0.3s ease;
}

.logo-link:hover .logo {
    transform: scale(1.1);
}

// Header - Topbox - Coach and Athlets
.coach-box {
    margin-left: auto;

    .coach-box__text {
        font-family: "Proxima Nova Light";
        @include text (14px, 300, 34.49px, uppercase, 0.7px, $color-05);
    }
}

// Header - Content
.header__content-box {
    margin-top: 309px;
    display: flex;
    flex-direction: column;
    position: relative;
}

// Header - Headings
.text-box-01 {
    display: flex;
    justify-content: flex-start;
    z-index: 3;
}

// Header - Diagonal Line
.text-box-01:before {
    content: '';
    width: 5px;
    height: 350px;
    background-color: $color-01;
    position: absolute;
    top: -120px;
    left: 33.5%;
    transform: rotate(37deg);
    z-index: 2;
}

.text-box-02 {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    z-index: 1;
}

.header__text {
    font-family: "Proxima Nova Bold";
    @include text (90px, 700, 31.32px, uppercase, 3px, $color-05);
}

// Header - Navigation
.nav {
    margin-top: 35px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin-left: 50px;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu-item__link {
    font-family: "Proxima Nova Light";
    @include links (14px, 300, 34.49px, uppercase, 0.7px, none, $color-02);
    transition: all 0.3s ease;

    &:hover {
        color: $color-05;
    }
}

// Header - Buttons
.header__link-box {
    margin: 181px auto 0 auto;
    display: flex;
    justify-content: center;
}

.button {
    width: 311px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.button:first-child {
    margin-left: 0;
}

// Buttons - Text Styles
.button__text-download {
    font-family: "Proxima Nova Light";
    @include links (14px, 300, 14px, uppercase, 0.7px, none, $color-05);
    position: relative;
}

.button__text-store {
    font-family: "Proxima Nova Regular";
    @include links (14px, 400, 14px, uppercase, 0.7px, none, $color-05);
}

// Buttons - Adding and Styling Icons
.button__text-apple:before {
    @extend %button-icons;
    background-image: url(../img/icon-apple.png);
}

.button__text-play:before {
    @extend %button-icons;
    background-image: url(../img/icon-play.png);
    top: -5px;
}

// Buttons - Links
.button__link {
    padding: 25px 50px 25px 105px;
    background-color: $color-01;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        background-color: $color-02;
    }
}

.button__link-play {
    padding: 25px 20px 25px 125px;
}

//===================================ATHLETS====================================
.athlets, .section {
    padding: 112px 0 0 0;
    position: relative;      //for a footballer on a background
}

// Athlets - Footballer Image
.athlets::before {
    content: '';
    display: block;
    width: 678px;
    height: 950px;
    position: absolute;
    top: 3%;
    left: 10%;
    background-image: url(../img/footballer.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}


// Athlets - Background Dioganal Line
.title-h2-box::before {
    content: '';
    display: block;
    width: 5px;
    height: 800px;
    background-color: $color-02;
    position: absolute;
    top: -2%;
    left: 25%;
    transform: rotate(35deg);
    z-index: 1;
}

// Athlets - Background Plus
.connection-box::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -80%;
    left: 15%;
}

.collaboration-box::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/plus-02.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -106%;
    left: 13.5%;
}

.content-box {
    display: flex;
    justify-content: flex-end;
}

.connection-box {
    padding: 0 0 50px 0;
    position: relative;                 //for "plus" figure on a background
}

.collaboration-box {
    background-color: $color-06;
    padding: 55px 0 50px 0;
    position: relative;                 //for "plus" figure on a background
}

// Slider Circles
.slider-switchers {
    display: none;
}
.circle-box {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.circle {
    width: 10px;
    height: 12px;
    background-color: $color-08;
    border-radius: 50%;
    border: none;
    margin-left: 12px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: $color-01;
    }
}

.circle:first-child {
    margin-left: 0;
}


.growth-box {
    background-color: $color-01;
    padding: 80px 0 90px 0;
}

.athlets__content-frame {
    width: 50%;
    position: relative;                 //for "plus" figure on a background
}

// Athlets - Title h1 Styles
.title-h2-box {
    display: flex;
    justify-content: flex-end;
}

.title-h2 {
    font-family: "Proxima Nova Bold";
    @include text (90px, 700, 60px, uppercase, none, $color-07);
}

// Athlets - Content Boxes - Styles
.connection-box {
    margin-top: 94px;
}

.title-h3-box {
    display: flex;
    align-items: center;
}

.title-h3 {
    font-family: "Proxima Nova Bold";
    @include text (36px, 700, 34.49px, uppercase, 1.8px, $color-08);
    margin-left: 13px;
}

.text-box {
    margin-top: 31px;
    width: 70%;
}

.text {
    font-family: "Proxima Nova Regular";
    @include text (20px, 400, 28px, none, 1px, $color-10);
}

.text--color {
    color: $color-05;
}

// Title h3 Numbers
.title-h3-count {
    @extend %title-h3-count-number;   
}

.title-h3-count__number {
    font-family: "Proxima Nova Bold";
    @include text (18px, 700, 15px, uppercase, 0.9px, $color-10);
}

.title-h3-count__number:after {
    content: '';
    display: block;
    width: 21px;
    height: 5px;
    background: $color-01;
    margin-top: 5px;
    border-radius: 5px;
}

.title-h3-count__number--white:after {
    content: '';
    display: block;
    width: 21px;
    height: 5px;
    background: $color-05;
    margin-top: 5px;
    border-radius: 5px;
}
//===================================PLAYERS====================================
.players {
    position: relative;
    display: flex;
    flex-direction: column;
}

.players::before {                  //basketballer
    content: '';
    display: block;   
    width: 60%;
    height: 100%;
    position: absolute;
    top: -3%;
    left: 40%;
    background-image: url(../img/basketballer.png);
    background-repeat: no-repeat;
    background-size: 87%;
    z-index: 5;
}

.players__title-h2-box {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.players__title-h2-box::before {    //dioganal line
    content: '';
    display: block;
    width: 5px;
    height: 400px;
    background-color: $color-02;
    position: absolute;
    top: -185%;
    left: 82%;
    transform: rotate(35deg);
    z-index: 1;  
}

.players__title-h2 {
    font-family: "Proxima Nova Bold";
    @include text (90px, 700, 60px, uppercase, none, $color-07);
    position: relative;
}

.players__title-h2:before {         //plus image
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -25%;
    left: 192%;
}

.players__title-h2:after {          //plus image
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/plus-02.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 200%;
}

.players__connection-box {
    padding: 0 0 50px 0;
    margin-top: 94px;
}

.players__collaboration-box {
    background-color: $color-06;
    padding: 55px 0 50px 0;
    position: relative; 
}

.players__collaboration-box:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -33%;
    left: 81%;
    z-index: -1;
}

.players__collaboration-box::after {
    content: '';
    display: block;
    width: 5px;
    height: 400px;
    background-color: $color-02;
    position: absolute;
    top: -70%;
    left: 59%;
    transform: rotate(35deg);
    z-index: 1;  
}

.players__content-box {
    display: flex;
    justify-content: start; 
}

.players__content-frame {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}

.growth-box--bgcolor {
    background: $color-03;
}

.title-h3-count__number--color01 {
    color: $color-01;
}

.players__growth-box {
    padding: 98px 0 92px 0;
}

//=================================THIRD SCREEN=================================
.item-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.item {
    width: 50%;
    min-height: 730px;
}

// Photo
.item--photo01 {
    @extend %item-photo;
    background-image: url(../img/photo-01.png);
    z-index: 1;
}

.item--photo02 {
    @extend %item-photo;
    background-image: url(../img/photo-02.png);
}

.item--photo03 {
    @extend %item-photo;
    background-image: url(../img/photo-03.png);
}

// Item Content
.item__content-box {
    margin: 257px 0 0 127px;
}

.item__text-box {
    margin-top: 100px;
}

.item__text-box::after {
    @extend %item-text-after;
}

.item__text-box--active {
    max-width: 322px;
}

.item__text-box--contact {
    max-width: 387px;
}

.item__text-box--work {
    max-width: 507px;
}

.item__text {
    font-family: "Proxima Nova Regular";
    @include text (24px, 400, 28px, none, 1.2px, $color-10);
}

// Item Number Box
.item-number-box {
    position: absolute;
    width: 168px;
    height: 155px;
    background-color: $color-01;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.item-number-box--active {
    top: 9.5%;
    left: 45.5%;
}

.item-number-box--contact {
    top: 42.5%;
    left: 45.5%;
}

.item-number-box--work {
    top: 76.5%;
    left: 45.5%;
}
.item-number__text {
    font-family: "Proxima Nova Bold";
    @include text (24px, 700, 34.49px, uppercase, 1.2px, $color-05);
}

.item-number__text::after {
    content: '';
    display: block;
    width: 27px;
    height: 5px;
    background-color: #8e7bc8;
    border-radius: 5px;
    margin-top: 9px;
}

//====================================DOWNLOAD==================================

//======================================MEDIA===================================
@media (max-width: 1140px) {
    // Header
    .header__content-frame {
        width: 95%;
    }

    .text-box-01 {
        margin-left: 89px;
        position: relative;
        z-index: 1;
    }

    .text-box-01:before {
        content: '';
        width: 5px;
        height: 450px;
        background-color: $color-01;
        position: absolute;
        top: -130px;
        left: 45%;
        transform: rotate(37deg);
        z-index: -1; 
    }

    .text-box-02 {
        text-align: left;
        margin-left: 25%;
        margin-top: 30px;
        z-index: 2;
    }

    .header__text {
        @include text (64px, 700, 31.32px, uppercase, 3.52px, $color-05);
        word-wrap: none;
    }

    .header__text-sports {
        line-height: 70px;
    }

    .nav {
        margin: 184px auto 0 auto;
    }

    .menu__item {
        margin-left: 60px;
    }

    .header__link-box {
        margin-top: 116px;
    }

    .title-h1-box {
        align-items: flex-end;
    }

    // Athlets
    .athlets {
        padding-top: 82px;
    }

    .athlets__content-frame {
        min-width: 60%;
    }

    .athlets::before {
        background-size: 550px;
        top: 10%;
        left: -25%;
    }

    .title-h2-box::before {
        top: 5%;
        left: 2%;
    }

    .connection-box::before {
        top: -73%;
        left: 6%;
    }
    
    .collaboration-box::before {
        top: -109%;
        left: 3%;
    }

    .text-box {
        width: 90%;
        margin-top: 31px;
    }

    .text-box--collaboration {
        max-width: 70%;
    }

    .text {
        font-size: 18px;
        letter-spacing: 0.9;
    }

    .connection-box {
        margin-top: 59px;
    }

    .collaboration-box {
        padding: 40px 0 38px 0;
    }

    // Players
    .players__content-frame {
        margin-left: 30px;
    }

    .players::before {
        top: 8%;
        left: 40%;
        background-size: 100%;
    }

    .players__title-h2-box:before {
        display: none;
    }

    .players__title-h2:before {
        top: 20px;
        left: 105%;
    }

    .players__title-h2:after {
        top: 60%;
        left: 110%;
    }


    .players__collaboration-box:after {
        top: -80%;
        left: 84%;
    }

    .players__connection-box {
        margin-top: 59px;
        padding-bottom: 17px;
    }

    .players__collaboration-box {
        padding: 63px 0 70px 0;
    }

    .players__growth-box {
        padding: 52px 0 55px 0;
    }

    // Third Screen
    .item-box {
        flex-direction: column;
    }

    // Item Size
    .item {
        width: 100%;
    }

    .item--active,
    .item--contact,
    .item--work {
        min-height: 340px;
    }

    // Item Order
    .item--photo01 {
        order: 1;
    }
    .item--active {
        order: 2;
    }
    .item--photo02 {
        order: 3;
    }
    .item--contact {
        order: 4;
    }
    .item--photo03 {
        order: 5;
    }
    .item--work {
         order: 6;
    }

    // Item Content
    .item__content-box {
        margin: 87px 0 0 35px;
    }

    .item__text-box--active,
    .item__text-box--contact,
    .item__text-box--work {
        max-width: 90%;
        margin-top: 35px;
    }

    .item__text-box::after {
        margin-top: 33px;
    }

    // Item Number Box
    .item-number-box {
        width: 116px;
        height: 116px;
    }
    .item-number-box--active {
        top: 20%;
        left: 5%
    }
    .item-number-box--contact {
        top: 53%;
        left: 5%
    }
    .item-number-box--work {
        top: 86.4%;
        left: 5%
    }
}

@media (max-width: 767px) {
    // HEADER
    .header__overlay {
        padding-bottom: 20px;
    }

    .header__content-frame {
        width: 100%;
        padding: 0;
    }

    .header__topbox {
        justify-content: center;
    }

    .coach-box {
        display: none;
    }

    // Text
    .header__content-box {
        margin-top: 140px;
    }

    .text-box-01 {
        justify-content: flex-start;
        margin-left: 10px;
    }

    .text-box-02 {
        justify-content: flex-end;
        margin: 10px 0 0 20%;
        text-align: left;
    }

    .header__text {
        font-size: 32px;
        letter-spacing: 1.6px;
        line-height: 40px;
    }

    // Dioganal Line
    .text-box-01:before {
        height: 250px;
        top: -60px;
        left: 45%;
        z-index: -1;
    }

    // Navigation
    .nav {
        order: 2;
        margin-top: 46px;
        display: flex;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu__item {
        margin-left: 30px;
    }

    .menu__item:first-child {
        margin-left: 0;
    }

    .menu-item__link {
        font-size: 12px;
    }

    // Buttons
    .header__link-box {
        order: 1;
    }

    .button {
        display: flex;
        width: 142px;
        margin-left: 8px;
    }

    .button__link-apple {
        padding: 8px 17px 8px 40px;
    }

    .button__link-play {
        padding: 8px 25px 8px 50px;
    }
    .button__text-download {
        font-size: 8px;
        letter-spacing: 0.4px;
    }

    .button__text-store {
        font-size: 8px;
    }

    .button__text-apple:before {
        background-size: 23px;    
        left: -35px;
    }
    
    .button__text-play:before {
        background-size: 20px;
        top: -5px;
        left: -35px;
    }

    // ATHLETS
    .athlets {
        padding: 0;
    }

    .athlets__content-frame {
        width: 100%;
        padding: 0 20px 0 15px;
    }

    .title-h2-box {
        padding: 25px 0 245px 0;
    }

    .title-h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .connection-box {
        display: none;
    }

    .collaboration-box {
        padding: 81px 0 27px 0;
    }

    .slider-switchers {
        display: block;
    }

    .title-h3 {
        font-size: 28px;
    }

    .text-box {
        margin-top: 27px;
    }

    .text {
        font-size: 15px;
    }

    .athlets__content-frame {
        min-width: 60%;
    }

    .athlets::before {
        width: 192px;
        height: 281px;
        background-size: 200px;
        top: 14.5%;
        left: 25%;
    }

    .title-h2-box::before {
        width: 3px;
        height: 250px;
        top: 11%;
        left: 55%;
    }

    .title-h2::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(../img/plus.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 90px;
        left: 24%;
    }
    
    .collaboration-box::before {
        top: -220px;
        left: 55px;
    }

    .growth-box {
        display: none;
    }

    // PLAYERS
    .players {
        padding-top: 35px;
    }

    .players__content-frame {
        margin-left: 0;
        width: 100%;
        padding: 0 15px;
    }

    .players__title-h2 {
        font-size: 50px;
    }

    .players__connection-box,
    .players__collaboration-box {
        display: none;
    }



    .players__growth-box {
        background-color: $color-09;
        margin-top: 70%;
        padding-bottom: 27px;
        display: flex;
    }

    .players:before {
        width: 100%;
        height: 100%;
        background-size: 90%;
        top: 23%;
        left: 0;
        z-index: 3;
    }

    .players__title-h2:before {
        top: 150%;
        left: 20%;  
    }

    .players__title-h2:after {
        top: 125%;
        left: 10%;
    }
    .title-h3-count__number {
        color: $color-10;
    }

    .title-h3-count__number--white:after {
        background-color: $color-01;
    }

    .text--color2 {
        color: $color-10;
    }

    .growth__text {
        letter-spacing: 0.75px;
        line-height: 18px;
        // position: relative;
    }

    .title-h3-box--line {
        position: relative;
    }

    .title-h3-box--line::before {
        content: '';
        display: block;
        width: 3px;
        height: 150px;
        background-color: $color-02;
        position: absolute;
        top: -530%;
        left: 30%;
        transform: rotate(35deg);
        z-index: 1; 
    }

    .title-h3-box--line::after {
        content: '';
        display: block;
        width: 3px;
        height: 120px;
        background-color: $color-02;
        position: absolute;
        top: -750%;
        left: 75%;
        transform: rotate(35deg);
        z-index: 1;
    }

    // Third Screen
    .item--active,
    .item--contact,
    .item--work {
        padding-bottom: 51px;
        min-height: 200px;
    }

    .title-h2--active,
    .title-h2--contact,
    .title-h2--work {
        @include text (28px, 700, 34.49px, uppercase, 1.4px, $color-07);
    }

    .item__text {
        @include text (16px, 400, 20px, none, 0.8px, $color-10);
    }

    .item__content-box {
        margin-top: 35px;
    }

    .item-number-box {
        width: 70px;
        height: 70px;
    }

    .item-number__text {
        @include text (14px, 700, 14px, uppercase, 0.7px, $color-05);
    }
    .item-number__text:after {
        width: 16px;
        margin-top: 23px;
    }

    .item-number-box--active {
        top: 23.8%;
        left: 5%;
    }
    .item-number-box--contact {
        top: 57%;
        left: 5%;
    }
    .item-number-box--work {
        top: 90%;
        left: 5%;
    }
    
}

@media (max-width: 320px) {
    body {
        min-width: 320px;
    }

    // Third Screen
    .item--photo01,
    .item--photo02,
    .item--photo03 {
        width: 320px;
        min-height: 351px;
    }

    .item-number-box {
        width: 70px;
        height: 70px;
    }

    .item-number__text {
        @include text (14px, 700, 14px, uppercase, 0.7px, $color-05);
    }
    .item-number__text:after {
        width: 16px;
        margin-top: 23px;
    }

    .item-number-box--active {
        top: 16%;
        left: 5%;
    }
    .item-number-box--contact {
        top: 49%;
        left: 5%;
    }
    .item-number-box--work {
        top: 82%;
        left: 5%;
    }

}
